<section class="container">
  <div class="section columns">
    <div class="column is-6 is-offset-3 p-6">
      <h2 class="title has-text-centered has-text-info">Resend confirmation instructions</h2>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "box" }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :email, class: "label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "input" %>
        </div>
        <div class="field">
          <%= f.submit "Resend confirmation instructions", class: "button is-info is-fullwidth is-medium mt-5" %>
        </div>
      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </div>
</section>
