<section class = "section">
	<div class="container">
		<h1 class="title">Shopping Cart</h1>
		<div class="columns">
			<div class="column">
				<% @cart.each do |item| %>
					<%= render partial: "layouts/components/cart_item", locals: { item: item } %>
				<% end %>
				<div class="is-flex is-justify-content-end is-align-items-baseline">
					<div class="has-text-weight-bold is-size-5 pr-4 ">Subtotal (<%= @cart_item_count %> items):</div>
					<div class="is-size-4 has-text-danger-dark"><%= number_to_currency @cart_total, unit: "$" %></div>
				</div>
			</div>
			<div class="column is-one-fifth">
				<div class="purchase-info-container p-4">
					<div class="is-flex is-justify-content-space-between is-align-items-baseline">
						<div class="is-size-6">Subtotal (<%= @cart_item_count %> items):</div>
						<div class="is-size-6 has-text-weight-bold"><%= number_to_currency @cart_total, unit: "$" %></div>
					</div>
					<%= link_to "#", class: "button is-fullwidth is-link is-warning mt-4" do %>
						Proceed to Checkout
					<% end %>
      			</div>
			</div>
		</div>
	</div>
</section>