<section class="section">
  <div class="container">
    <h1 class="title">Your Orders <%= current_user.username %></h1>

    <% if @orders.present? %>
      <% @orders.each do |order| %>
        <div class="box">
          <div class="is-flex is-justify-content-space-between">
            <p class="title is-4 mb-5">Order #<%= order.id %> from <%= order.created_at.strftime('%Y-%m-%d') %></p>
            <%= link_to "View Details", user_order_path(current_user, order), class: "button is-info" %>
          </div>
          <% order.book_orders.each do |book_order| %>
            <div class="media mb-0">
              <div class="media-left">
                <% if book_order.book.image.present? %>
                  <%= image_tag(book_order.book.image.variant(resize_to_limit: [30, 30]), alt: book_order.book.title) %>
                <% elsif book_order.book.image_thumbnail.present? %>
                  <%= image_tag(book_order.book.image_thumbnail, size: "30x30", alt: book_order.book.title) %>
                <% end %>
              </div>
              <div class="media-content">
                <p class="title is-6"><%= book_order.book.title %></p>
                <p class="subtitle is-6"> Quanity: <%= book_order.quantity %>, Price: $<%= book_order.purchase_price %>  </p>
              </div>
            </div>
          <% end %>
       </div>
      <% end %>
    <% else %>
      <% if flash[:alert].present? %>
        <p class="subtitle">No orders yet.</p>
          <script>
          setTimeout(function() {
            window.location.href = '<%= root_path %>';
          }, 3000);
        </script>
      <% end %>
    <% end %>
  </div>
</section>