<section class="section">
  <div class="container">
    <h2 class="title is-size-3 mt-2 mb-5">Search results</h2>
      <p class="subtitle">
        <%= pluralize @books.total_count, "book"%> found
        <% if (params[:keywords] != "") %>
          for "<strong><%= params[:keywords]%></strong>"
        <% end %>
        <% if (params[:query][:category_id] != "") %>
          in "<strong><%= @categories.find_by(id: params[:query][:category_id]).name %></strong>"
        <% end %>
      </p>
     <div class="columns is-multiline">
        <%= render @books %>
      </div>
    <%= paginate @books %>
  </div>
</section>


