<section class="section">
  <div class="container">
    <h2 class="title is-size-2 mt-2">Search results</h2>
      <p>
        <%= (@books.count) %> book<%= @books.count == 1 ? "" : "s" %> found
        <% if (params[:keywords] != "") %>
          for "<strong><%= params[:keywords]%></strong>"
        <% end %>
        <% if (params[:book][:publisher_id] != "") %>
          published by "<strong><%= @publishers.find_by(id: params[:book][:publisher_id]).name %></strong>"
        <% end %>
      </p>
    <ul>
      <% @books.each do |book| %>
          <li><%= link_to book.title, book %></li>
      <% end %>
    </ul>
  </div>
</section>


