<div class="container">
<%# Image and description %>
  <div class = "columns">
    <div class = "column is-one-fifth">
      <figure class="image">
        <%= image_tag @book.image_small_thumbnail %>
      </figure>
    </div>
    <div class ="column">
      <h1 class="title has-text-info"><%= @book.title %></h1>
      <div class="is-flex is-justify-content-space-between subtitle">
        <h2 class=""> By <%= @book.authors.map{ |author| author.name }.join(", ") %> </h2>
        <h3 class="is-size-6">
          Categories:
          <% @book.categories.each do |category| %>
            <%= link_to "/categories/#{category.name}" do %>
              <span class="tag is-link"><%= category.name %></span>
            <% end %>
          <% end %>
        </h3>
      </div>
      <p class="is-size-6"><%= @book.description %></p>
    </div>
  </div>
 <%# Book details %>
  <div class = "columns is-centered is-vcentered mt-5">
    <%# Publisher %>
    <div class ="column is-one-fifth has-text-centered">
        <div class="icon is-medium has-text-info">
          <i class="fas fa-2x fa-solid fa-house"></i>
        </div>
        <p class = "is-size-5"> <%= @book.publisher.name %></p>
    </div>
    <%# Published date %>
    <div class ="column is-one-fifth has-text-centered">
      <div class="icon is-medium has-text-info">
          <i class="fas fa-2x fa-solid fa-calendar-days"></i>
        </div>
      <p class = "is-size-5"> <%= @book.published_date %></p>
    </div>
    <%# ISBN %>
    <div class ="column is-one-fifth has-text-centered">
      <div class="icon is-medium has-text-info">
        <i class=" fas fa-2x fa-solid fa-barcode"></i>
      </div>
      <p class = "is-size-5"> <%= @book.isbn %></p>
    </div>
    <%# Page count %>
    <div class ="column is-one-fifth has-text-centered">
      <div class="icon is-medium has-text-info">
        <i class=" fas fa-2x fa-solid fa-book-open"></i>
      </div>
      <p class = "is-size-5"> <%= @book.page_count %> pages</p>
    </div>
    <%# Language %>
    <div class="column is-one-fifth has-text-centered">
      <div class="icon is-medium has-text-info">
        <i class="fas fa-2x fa-language"></i>
      </div>
      <p class = "is-size-5"> <%= @book.language %></p>
      </div>
  </div>
  <%# Reviews %>
  <details>
    <summary class = "is-size-5 has-text-weight-bold"> User reviews (<%=@book.reviews.count%>)
      <div class ="column is-one-fifth has-text-centered">
        <span><%=@book.average_rating %> of 5.0 </span>
        <progress class="progress is-danger" value= <%= @book.average_rating %> max="5"><%= @book.average_rating %></progress>
       </div>
    </summary>
     <%# List of reviews %>
    <ul>
      <% @book.reviews.each do |review| %>
        <li>
          <div class = "box mt-5">
            <span class="icon-text">
              <span class="icon has-text-info icon is-large">
                <i class=" fas fa-2x fa-solid fa-user"></i>
              </span>
            <span class ="is-size-5"><%= review.user.username %></span>
          </span>
          <div class ="column is-one-fifth has-text-centered">
            <span><%= review.rating %> of 5</span>
            <progress class="progress is-danger" value= <%= review.rating%> max="5"><%= review.rating %>of 5</progress>
          </div>
            <p class ="mb-3">Created on <%= review.created_at %></p>
            <p class ="is-size-5"><%= review.comment %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </details>
</div>











