<% content_for(:html_title){@book.title}%>
<div class="container">
  <%# Breadcrumb %>
  <nav class="breadcrumb mt-4 mb-8" aria-label="breadcrumbs">
    <ul>
      <li><%= link_to "Books", books_path %></li>
      <li><%= link_to "Categories", categories_path %></li>
      <% if(@book.categories.any?) %>
        <li><%= link_to @book.categories.first.name, "/categories/#{@book.categories.first.name}" %></li>
      <% end %>
    </ul>
  </nav>
  <%# Image and description %>
  <div class="columns">
    <div class="column is-one-fifth">
      <figure class="image">
        <%= image_tag @book.image_thumbnail, alt: @book.title %>
      </figure>
      <%= link_to @book.preview_link, target: "_blank", class: "button is-medium is-fullwidth is-warning mt-4" do %>
        <span class="icon" style="opacity: 0.7;">
          <i class="fa-brands fa-readme mr-6"></i>
        </span>
        Open book
      <% end %>
    </div>
    <div class ="column">
      <div class="is-flex is-justify-content-space-between mb-3">
        <%# Title and subtitle %>
        <div>
          <h1 class="title has-text-info"><%= @book.title %></h1>
          <h2 class="subtitle">By <%= @book.authors.map{ |author| author.name }.join(", ") %></h2>
        </div>
        <%# Rating %>
        <div>
          <div class ="has-text-centered mb-2">
            <span>Rating <strong><%= Float(@book.average_rating).round(1) %></strong></span>
            <div class="ml-1">
              <%# Full stars %>
              <% Integer(Float(@book.average_rating).floor()).times do %>
                <i class="fas fa-solid fa-star has-text-warning"></i>
              <% end %>
              <%# Half star %>
              <% if (Float(@book.average_rating).round(1) % 1 >= 0.5) %>
                <i class="fas fa-solid fa-star-half-stroke has-text-warning"></i>
              <% elsif (Integer(Float(@book.average_rating).floor()) != 5) %>
                <i class="fas fa-regular fa-star has-text-grey-lighter"></i>
              <% end %>
              <%# Empty stars %>
              <% (4 - Integer(Float(@book.average_rating).floor())).times do %>
                <i class="fas fa-regular fa-star has-text-grey-lighter"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%# Categories %>
      <h3 class="is-size-7 mb-6">
        <% if(@book.categories.any?) %>
          <span class="mr-2 has-text-primary"><strong>CATEGORIES</strong></span>
          <% @book.categories.each do |category| %>
            <%= link_to "/categories/#{category.name}" do %>
              <span class="tag is-link is-light is-medium"><%= category.name %></span>
            <% end %>
          <% end %>
        <% end %>
      </h3>
      <p class="is-size-6"><%= @book.description %></p>
    </div>
  </div>
  <%# Book details %>
  <div class = "columns is-centered is-vcentered mt-5">
    <%# Publisher %>
    <div class ="column is-one-fifth has-text-centered">
      <div class="icon is-medium has-text-info">
        <i class="fas fa-2x fa-solid fa-house"></i>
      </div>
      <p class = "is-size-5"> <%= @book.publisher.name %></p>
    </div>
    <%# Published date %>
    <div class ="column is-one-fifth has-text-centered">
      <div class="icon is-medium has-text-info">
        <i class="fas fa-2x fa-solid fa-calendar-days"></i>
      </div>
      <p class = "is-size-5"> <%= @book.published_date %></p>
    </div>
    <%# ISBN %>
    <div class ="column is-one-fifth has-text-centered">
      <div class="icon is-medium has-text-info">
        <i class=" fas fa-2x fa-solid fa-barcode"></i>
      </div>
      <p class = "is-size-5"> <%= @book.isbn %></p>
    </div>
    <%# Page count %>
    <div class ="column is-one-fifth has-text-centered">
      <div class="icon is-medium has-text-info">
        <i class=" fas fa-2x fa-solid fa-book-open"></i>
      </div>
      <p class = "is-size-5"> <%= @book.page_count %> pages</p>
    </div>
    <%# Language %>
    <div class="column is-one-fifth has-text-centered">
      <div class="icon is-medium has-text-info">
        <i class="fas fa-2x fa-language"></i>
      </div>
      <p class="is-size-5"><%= @book.language == "en" ? "English" : @book.language %></p>
    </div>
  </div>
  <%# Reviews %>
  <% if (@book.reviews.count == 0 )%>
    <article class="message is-warning">
      <div class="message-body">
        There are currently no reviews for this book.
      </div>
    </article>
  <% else %>
    <details>
      <summary class="is-size-5 has-text-weight-bold">
        User reviews (<%= @book.reviews.count %>)
      </summary>
      <%# List of reviews %>
      <ul>
        <% @book.reviews.each do |review| %>
          <li>
            <div class="box mt-5">
              <div class="is-flex is-justify-content-space-between">
                <span class="icon-text">
                  <span class="icon has-text-info icon is-large">
                    <i class=" fas fa-2x fa-solid fa-user"></i>
                  </span>
                  <div>
                    <span class ="is-size-5"><%= review.user.username %></span>
                    <p class ="mb-3">Reviewed on <%= review.created_at.strftime("%d/%m/%Y, %H:%M:%S") %></p>
                  </div>
                </span>
                <%# Rating %>
                <div>
                  <div class ="has-text-centered mb-2">
                    <span>Rating <strong><%= Float(review.rating) %></strong></span>
                    <div class="ml-1">
                      <%# Full stars %>
                      <% Integer(Float(review.rating).floor()).times do %>
                        <i class="fas fa-solid fa-star has-text-warning"></i>
                      <% end %>
                      <%# Empty stars %>
                      <% (5 - Integer(Float(review.rating).floor())).times do %>
                        <i class="fas fa-regular fa-star has-text-grey-lighter"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <p class ="is-size-5"><%= review.comment %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </details>
  <% end %>
</div>
