<div class="card mb-3">
  <div class="card-content">
    <p class="title is-5 mb-5">Cart Summary</p>
    <% @cart.each_with_index do |item, index| %>
      <% book = Book.find(item["id"]) %>
      <% unit_price = book.is_on_sale ? book.sale_price : book.price %>
      <% total_price = unit_price * item["quantity"] %>
      <div class="is-flex is-justify-content-space-between">
        <div>
          <div class="media mb-0">
            <div class="media-left">
              <% if book.image.present? %>
                <%=  image_tag(book.image.variant(resize_to_limit: [30, 30]), alt: book.title ) %>
              <% elsif book.image_thumbnail.present? %>
                <%= image_tag(book.image_thumbnail, size: "30x30", alt: book.title) %>
              <% end %>
            </div>
            <div class="media-content">
              <p class="title is-6"><%= book.title %></p>
              <p class="subtitle is-6"><%= book.authors.map{ |author| author.name }.join(", ")%></p>
            </div>
          </div>
        </div>
        <%# Price %>
        <div class="has-text-right">
          <p class="book-price is-size-6 has-text-weight-bold">
            <% if book.sale_price.present? && book.is_on_sale %>
              <%= number_to_currency(book.sale_price, unit: "$") %>
            <% else %>
              <%= number_to_currency(book.price, unit: "$") %>
            <% end %>
          </p>
          <p>Quantity: <%= item["quantity"] %></p>
        </div>
      </div>
      <% unless index == @cart.length - 1 %>
        <hr class="my-4" style="height:1px;border-width:0;color:#bcbec6;background-color:#bcbec6">
      <% end %>
    <% end %>
  </div>
</div>
