<nav class="navbar is-light is-spaced has-shadow" role="navigation" aria-label="main navigation">
	<div class="container">
	<div class="navbar-brand">
		<%# Logo image %>
		<%= link_to root_path, class: "navbar-item" do %>
		<%= image_tag "bookhub_logo.svg", alt: "BookHub Logo" %>
		<% end %>
		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
		</a>
	</div>
	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-start ml-4">
		<%= link_to "Home", root_path, class: "navbar-item" %>
		<!-- Categories dropdown -->
		<div class="navbar-item has-dropdown is-hoverable">
			<a class="navbar-link">
			Categories
			</a>
			<div class="navbar-dropdown">
			<% @all_categories.each do |category| %>
				<%= link_to "#{category.name.gsub("_", " ").gsub("-", ",")} (#{category.book_count})", "/categories/#{category.name}", class: "navbar-item" %>
			<% end %>
			</div>
		</div>
		<%= link_to "About", about_path, class: "navbar-item" %>
		</div>
		<div class="navbar-end">
			<%= render partial: "layouts/components/search_form" %>
				<div class="navbar-item">
					<div class="buttons">
						<%= link_to cart_path, class: "button is-link" do %>
							<span class="icon ml-1 mr-2" style="opacity: 0.8;">
								<i class="fa-solid fa-cart-shopping mr-0"></i>
							</span>
							<strong>Cart <span class="tag is-link is-light is-rounded ml-1"><%= @cart_item_count %></span></strong>
						<% end %>
					</div>
				</div>
		</div>
	</div>
	</div>
</nav>
