<div class="container">
  <%# Breadcrumb %>
  <nav class="breadcrumb mt-4 mb-8" aria-label="breadcrumbs">
    <ul>
      <li><%= link_to "Books", books_path %></li>
      <li><%= link_to "Categories", categories_path %></li>
      <!-- Fix category name for HTML validation & proper display -->
      <li class="is-active"><a href="#" aria-current="page"><%= @category.name.gsub("_", " ").gsub("-", ",") %></a></li>
    </ul>
  </nav>
  <!-- Fix category name for HTML validation & proper display -->
  <h1 class="title"><%= @category.name.gsub("_", " ").gsub("-", ",") %></h1>
    <!-- Refactor book table -->
    <table class="table is-fullwidth">
      <%= render partial: 'layouts/components/book_thead' %>
      <tbody>
        <%= render partial: 'layouts/components/book_tbody', collection: @books, as: :book %>
      </tbody>
    </table>
</div>
