<div class="container">
  <%# Breadcrumb %>
  <nav class="breadcrumb mt-4 mb-8" aria-label="breadcrumbs">
    <ul>
      <li><%= link_to "Books", books_path %></li>
      <li><%= link_to "Categories", categories_path %></li>
      <li class="is-active"><a href="#" aria-current="page"><%= @category.name.gsub("_", " ").gsub("-", ",") %></a></li>
    </ul>
  </nav>
  <div class="columns">
    <div class="column is-one-fifth">
      <%= render partial: "layouts/components/categories_side_bar" %>
    </div>
    <div class="column is-four-fifths">
      <div class="is-flex is-justify-content-space-between mb-5">
        <h1 class="title"><%= @category.name.gsub("_", " ").gsub("-", ",") %></h1>
      </div>
      <div class="columns is-multiline">
        <%= render @books %>
      </div>
    </div>
  </div>
</div>
