<!DOCTYPE html>
<html>
  <head>
    <title>RailsLibrary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">

  </head>
  <body>
    <%# Navbar %>
    <nav class="navbar is-light is-spaced has-shadow" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <%# Logo image %>
          <%= link_to root_path, class: "navbar-item" do %>
            <%= image_tag "bookhub_logo.svg" %>
          <% end %>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start ml-4">
            <%= link_to "Home", root_path, class: "navbar-item" %>
            <!-- Categories dropdown -->
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Categories
              </a>
              <div class="navbar-dropdown">
                <% @categories.each do |category| %>
                  <%= link_to "#{category.name} (#{category.book_count})", "/categories/#{category.name}", class: "navbar-item" %>
                <% end %>
              </div>
            </div>
            <%= link_to "About", about_path, class: "navbar-item" %>
          </div>
          <div class="navbar-end">
             <!--Search form -->
            <%= form_with(url: search_books_path, method: :get, local: true) do %>
              <div class="field is-grouped is-grouped-right">
                <p class="control">
                  <span class="select is-rounded">
                    <%= collection_select(:book, :publisher_id, Publisher.order(:name), :id, :name, {include_blank: "All"}, class: "select is-rounded") %>
                  </span>
                </p>
                <p class="control">
                    <%= text_field_tag(:keywords, nil, class: "input is-info is-rounded", placeholder: "Search for books") %>
                </p>
                <p class="control">
                  <%= submit_tag("Search", class: "button is-info is-rounded") %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
