<div class="container" >
  <div class="columns mt-4">
    <div class="column is-half is-offset-one-quarter box p-5">
      <h2 class="title has-text-centered  has-text-info">Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :username, class: 'label' %>
          <div class="control has-icons-left">
            <%= f.text_field :username, class: 'input', autofocus: true, autocomplete: "username", placeholder: "sbrown" %>
            <span class="icon is-small is-left">
              <i class="fa-solid fa-user"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <%= f.label :first_name, class: 'label' %>
          <div class="control has-icons-left">
            <%= f.text_field :first_name, class: 'input', placeholder: "Sarah" %>
            <span class="icon is-small is-left">
              <i class="fa-solid fa-user"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <%= f.label :last_name, class: 'label' %>
          <div class="control has-icons-left">
            <%= f.text_field :last_name, class: 'input', placeholder: "Brown" %>
            <span class="icon is-small is-left">
              <i class="fa-solid fa-user"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <%= f.label :email, class: 'label' %>
          <div class="control has-icons-left">
            <%= f.email_field :email, class: 'input', autocomplete: "email", placeholder: "sarah.brown@mail.com" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <%= f.label :password, class: 'label' %>
          <div class="control has-icons-left">
            <%= f.password_field :password, class: 'input', autocomplete: "new-password", placeholder: "1Y125tyi" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <% if @minimum_password_length %>
            <p class="help"><em>(<%= @minimum_password_length %> characters minimum)</em></p>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: 'label' %>
            <div class="control has-icons-left">
              <%= f.password_field :password_confirmation, class: 'input', autocomplete: "new-password", placeholder: "1Y125tyi" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
        </div>
        <h2 class= "subtitle has-text-weight-bold">Address details</h2>

        <div class="field">
          <%= f.label :address, class: 'label' %>
          <div class="control has-icons-left">
            <%= f.text_field :address, class: 'input', autocomplete: "address", placeholder: "999 Main Street" %>
            <span class="icon is-small is-left">
              <i class="fa-solid fa-location-dot"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <%= f.label :city, class: 'label' %>
          <div class="control has-icons-left">
            <%= f.text_field :city, class: 'input', autocomplete: "city", placeholder: "Winnipeg" %>
            <span class="icon is-small is-left">
              <i class="fa-solid fa-city"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <%= f.label :province_id, "Province", class: 'label' %>
          <div class="control select">
            <%= f.collection_select :province_id, Province.all, :id, :name, { prompt: "Select Province" }, { class: 'select' } %>
          </div>
        </div>

        <div class="field">
          <%= f.label :postal_code, class: 'label' %>
          <div class="control has-icons-left">
            <%= f.text_field :postal_code, class: 'input', autocomplete: "postal-code", placeholder: "R9T3C5" %>
            <span class="icon is-small is-left">
              <i class="fa-regular fa-address-card"></i>
            </span>
          </div>
        </div>

        <div class="actions">
          <div class="control">
            <%= f.submit "Sign up", class: 'button is-info is-medium is-fullwidth ' %>
          </div>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>



